@mixin abs-pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  bottom: $bottom;
  left: $left;
  position: absolute;
  right: $right;
  top: $top;
}

@mixin margin() {
  margin: 0;
  padding: 0
}

@mixin center($width,$var: '',$top: 0, $bottom: 0) {
  margin: $top+rem auto $bottom+rem;
  width: $width + #{$var};
}

@mixin breakpoint($point) {
  $small: "(min-width: 30rem)";
  $medium: "(min-width: 46rem)";
  $large: "(min-width: 65rem)";

  @if $point == large {
    @media #{$large} {
      @content;
    }
  } @else if $point == medium {
    @media #{$medium} {
      @content;
    }
  } @else if $point == small {
    @media #{$small}  {
      @content;
    }
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-wn1d7l');
  src: url('fonts/icomoon.eot?#iefix-wn1d7l') format('embedded-opentype'),
  url('fonts/icomoon.woff?-wn1d7l') format('woff'),
  url('fonts/icomoon.ttf?-wn1d7l') format('truetype'),
  url('fonts/icomoon.svg?-wn1d7l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
  content: "\e600";
}

.icon-facebook:before {
  content: "\e602";
}

.icon-twitter:before {
  content: "\e601";
}

@font-face {
  font-family: 'seasideresortnfregular';
  src: url('fonts/SEASRN__-webfont.eot');
  src: url('fonts/SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/SEASRN__-webfont.woff') format('woff'),
  url('fonts/SEASRN__-webfont.ttf') format('truetype'),
  url('fonts/SEASRN__-webfont.svg#seasideresortnfregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@mixin fontSeas() {
  font-family: 'seasideresortnfregular', Sans-Serif;
}

/* colors */
$brown: #330000;
$brownLight: #fdfbdc;
$orange: #e6bb70;
* {
  -webkit-box-sizing: border-box; // Safari <= 5
  -moz-box-sizing: border-box; // Firefox <= 19
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: $brownLight url("../img/back.jpg") repeat 15px 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  @include breakpoint(large) {
    background-position-x: 250px;
  }
}

img {
  width: 100%
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* header */

.Header {
  background: $brown;
  left: -250px;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 250px;
  @include breakpoint(large) {
    left: 0;
  }
}

.HeaderLogo {
  border-bottom: 1px solid white;
  margin: 0 33px;
  padding: 10px 0 15px;
}

.Header-wrapper {
  margin-top: -280px;
  position: absolute;
  top: 50%
}

/* navigation */

.Nav {
  border-bottom: 1px solid white;
  margin: 0 35px;
  padding: 10px 10px 15px;
  text-align: center;
  li {
    font-size: 0.85rem;
    margin: auto;
    padding: 5px;
    width: 125px;
  }
  a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      color: $orange;
    }
  }

}

/* network */

.Network {
  text-align: center;
  li {
    display: inline-block;
  }
  a {
    border: 1px solid #e6bb70;
    color: $orange;
    display: block;
    font-size: 1.25rem;
    margin: 19px 5px;
    padding: 5px;
    &:hover {
      color: white;
      border-color: white;
    }
  }
}

/* wrapper */

.Wrapper {
  @include breakpoint(large) {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}

/* home */

.Home-figure {
  @include center(80, '%');
  max-width: 500px;
  padding: 25px;
  text-align: center;
}

.Home-number {
  @include center(98, '%');
  color: $brown;
  border-bottom: 5px solid $brown;
  border-top: 5px solid $brown;
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .5rem;
  padding-left: 1.5rem;
  text-align: center;
  @include breakpoint(medium){
    font-size: 5.5rem;
    letter-spacing: 1rem;
  }
  @include breakpoint(large){
    font-size: 7.5rem;
    letter-spacing: 1.5rem;
  }

}
.Home-numberSecond {
  @include center(98, '%');
  color: $brown;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  @include breakpoint(medium){
    font-size: 3.5rem;
  }
  @include breakpoint(large){
    font-size: 4.5rem;
    display: none;
  }

}

/* Slide - Promotion */
.promotion{
  max-width: 300px;
  margin: 30px 0 10px;
  text-align: left;
  width: 100%;
}
.slider{
  max-width: 1080px;
  width: 100%;
}
.flexslider{
  position: relative;
}
.flex-control-nav{
  bottom: 44px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.flex-control-nav li{
  cursor:pointer;
  display: inline-block;
  margin: 0 4px;
}
.flex-control-nav a{
  background: #fff;
  border-radius: 50%;
  color: #fff;
  display: block;
  line-height: 0;
  padding: 6px;
  text-indent: -10000px;
}
.flex-direction-nav a{
  opacity: 0;
}

.promotion-text{
  color: $brown;
  margin: -28px 0 0;
  max-width: 1080px;
  text-align: justify;
}

/*  */

.section-title{
  margin: 0;
  max-width: 700px;
}
.section-wrapper{
  margin: 10px 0;
}
.flex{
 @include flexbox();
  flex-wrap: wrap ;
  justify-content: space-around;
  max-width: 1080px;
}
.figure-product{
  margin: 10px;
  max-width: 200px;
  text-align: center;
}
.product-text{
  font-size: .9rem;
  font-weight: 600;
  margin: 4px;
}

