@mixin abs-pos($top: auto, $right: auto, $bottom: auto, $left: auto) {
  bottom: $bottom;
  left: $left;
  position: absolute;
  right: $right;
  top: $top;
}

@mixin margin() {
  margin: 0;
  padding: 0
}

@mixin center($width,$var: '',$top: 0, $bottom: 0) {
  margin: $top+rem auto $bottom+rem;
  width: $width + #{$var};
}

@mixin breakpoint($point) {
  $small: "(min-width: 30rem)";
  $medium: "(min-width: 46rem)";
  $large: "(min-width: 65rem)";

  @if $point == large {
    @media #{$large} {
      @content;
    }
  } @else if $point == medium {
    @media #{$medium} {
      @content;
    }
  } @else if $point == small {
    @media #{$small}  {
      @content;
    }
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;

  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-wn1d7l');
  src: url('fonts/icomoon.eot?#iefix-wn1d7l') format('embedded-opentype'),
  url('fonts/icomoon.woff?-wn1d7l') format('woff'),
  url('fonts/icomoon.ttf?-wn1d7l') format('truetype'),
  url('fonts/icomoon.svg?-wn1d7l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
  content: "\e600";
}

.icon-facebook:before {
  content: "\e602";
}

.icon-twitter:before {
  content: "\e601";
}

@font-face {
  font-family: 'seasideresortnfregular';
  src: url('fonts/SEASRN__-webfont.eot');
  src: url('fonts/SEASRN__-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/SEASRN__-webfont.woff') format('woff'),
  url('fonts/SEASRN__-webfont.ttf') format('truetype'),
  url('fonts/SEASRN__-webfont.svg#seasideresortnfregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@mixin fontSeas() {
  font-family: 'seasideresortnfregular', Sans-Serif;
}

/* colors */
$brown: #330000;
$brownLight: #fdfbdc;
$orange: #e6bb70;
* {
  -webkit-box-sizing: border-box; // Safari <= 5
  -moz-box-sizing: border-box; // Firefox <= 19
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: $brownLight url("../img/back.jpg") repeat 15px 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  @include breakpoint(large) {
    background-position-x: 250px;
  }
}

img {
  width: 100%
}

li {
  list-style: none;
}

body, h1, h2, h3, h4, ul {
  margin: 0;
  padding: 0;
}

/* header */

.Header {
  background: $brown;
  left: -250px;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 2000;
  @include breakpoint(large) {
    left: 0;
  }
  @include transition(all, .5s, ease-in-out);
}
.Home h1{
  color: $brown;
  text-align: center;
  font-size: 1rem;
  @include breakpoint(medium){
    font-size: 1.5rem;
  }
  @include breakpoint(large){
    font-size: 2rem;
  }
}

.HeaderLogo {
  border-bottom: 1px solid white;
  margin: 0 33px;
  padding: 10px 0 15px;
}

.Header-wrapper {
  margin-top: -320px;
  position: absolute;
  top: 50%
}

/* navigation */

.Nav {
  border-bottom: 1px solid white;
  margin: 0 35px;
  padding: 10px 10px 15px;
  text-align: center;
  li {
    font-size: 0.85rem;
    margin: auto;
    padding: 5px;
    width: 125px;
  }
  a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      color: $orange;
    }
  }

}

/* network */

.Network {
  text-align: center;
  li {
    display: inline-block;
  }
  a {
    border: 1px solid #e6bb70;
    color: $orange;
    display: block;
    font-size: 1.25rem;
    margin: 19px 5px;
    padding: 5px;
    &:hover {
      color: white;
      border-color: white;
    }
  }
}

/* wrapper */

.Wrapper {
  @include breakpoint(large) {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}

/* home */

.Home-figure {
  @include center(80, '%');
  max-width: 500px;
  padding: 25px;
  text-align: center;
}

.Home-number {
  @include center(98, '%');
  color: $brown;
  border-bottom: 5px solid $brown;
  border-top: 5px solid $brown;
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .5rem;
  padding-left: 1.5rem;
  text-align: center;
  @include breakpoint(medium) {
    font-size: 5.5rem;
    letter-spacing: 1rem;
  }
  @include breakpoint(large) {
    font-size: 7.5rem;
    letter-spacing: 1.5rem;
  }

}

.Home-numberSecond {
  @include center(98, '%');
  color: $brown;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  @include breakpoint(medium) {
    font-size: 3.5rem;
  }
  @include breakpoint(large) {
    font-size: 4.5rem;
    display: none;
  }

}

/* Slide - Promotion */
.promotion {
  max-width: 300px;
  margin: 30px 0 10px;
  text-align: left;
  width: 100%;
}

.slider {
  max-width: 67.5rem;
  width: 100%;
}

.flexslider {
  position: relative;
}

.flex-control-nav {
  bottom: 44px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.flex-control-nav li {
  cursor: pointer;
  display: inline-block;
  margin: 0 4px;
}

.flex-control-nav a {
  background: #fff;
  border-radius: 50%;
  color: #fff;
  display: block;
  line-height: 0;
  padding: 6px;
  text-indent: -10000px;
}

.flex-direction-nav a {
  opacity: 0;
}

.promotion-text {
  color: $brown;
  margin: -28px 0 0;
  max-width: 67.5rem;
  text-align: justify;
}

/*  */

.section-title {
  margin: 0;
  max-width: 700px;
}

.section-wrapper {
  margin: 10px 0;
  padding: 0 10px;
  max-width: 67.5rem;
}

.flex {
  @include flexbox();
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 67.5rem;
}

.figure-product {
  margin: 10px;
  max-width: 150px;
  text-align: center;
  @include breakpoint(medium) {
    max-width: 200px;
  }
}

.product-text {
  font-size: .9rem;
  font-weight: 600;
  margin: 4px;
}

.cigarettes {
  color: #521300;
  margin-top: 30px;
  text-align: center;
}

.cigarettes h2 {
  font-size: 4rem;
  letter-spacing: 10px;
  @include breakpoint(medium) {
    font-size: 9rem;
  }
}

.cigarettes h3 {
  font-size: 3rem;
}

.cigarettes h4 {
  font-size: 2rem;
}

/* About */

.About {
  background: url(../img/quienes-somos.png) no-repeat fixed center center;
  background-size: cover;
}

.About-header {
  padding: 25px 0 10px;
}

.About-content {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
  width: 90%;
  @include breakpoint(large) {
    width: 35%;
  }
}

.About-article {
  background: rgba(226, 226, 226, .8);
  border-radius: 10px;

  padding: 14px 0 14px 16px;

  @include breakpoint(large) {
    margin-left: 3%;
    width: 94%;
  }
}

.About-figure {
  display: none;
  margin: 0;
  text-align: center;
  vertical-align: top;
  width: 35%;
  @include breakpoint(large) {
    display: inline-block;
  }
}

.About-figure img {
  max-width: 150px;
}

.About-h1 {
  display: inline-block;
  color: white;
  line-height: 2rem;
  vertical-align: middle;
  width: 64%;
}

.About-p {
  height: 400px;
  overflow-y: scroll;
  padding-right: 20px;
  text-align: justify;
}

.About-wrapper {
  max-width: 67.5rem;
  text-align: center;
}

.About-logo {
  display: none;
  margin: 0;
  width: 64%;
  @include breakpoint(large) {
    display: inline-block;
  }
}

.About-logo img {
  max-width: 65%;
  opacity: .5;
}

/* Our */

.Our-article, .OurMore-article {
  flex-direction: column;
  @include flexbox();
  @include breakpoint(medium) {
    flex-direction: row;
    margin: 20px auto;
    max-width: 90%;
  }
}

.Our-content {
  background: rgba(252, 234, 189, .75);
  border-radius: 10px;
  color: #909090;
  font-size: 1.2rem;
  padding: 0 12px;
  text-align: justify;
  @include breakpoint(medium) {
    font-size: 0.7rem;
    width: 800px;
  }
}

.Our-h2 {
  display: none;
  color: $brown;
  margin: 10px 0 0;
  @include breakpoint(medium) {
    display: block;
  }
}

.Our-figure {
  text-align: center;
}

.Our-figure img {
  max-width: 400px;
}

.less-figure img {
  max-width: 300px;
  @include breakpoint(medium) {
    max-width: 400px;
  }
}

.order-final {
  @include breakpoint(medium) {
    order: 2;
  }
}

/* OurMore */

.OurMore {
  color: #4e4e4e;
  padding: 20px 10px;
  @include breakpoint(medium) {
    background: url(../img/ourMore/back.jpg) no-repeat fixed center center;
    background-size: cover;
  }
}

.OurMore-content {
  background: rgba(252, 234, 189, .75);
  border-radius: 10px;
  color: #909090;
  font-size: 1.2rem;
  padding: 13px 15px;
  @include breakpoint(medium) {
    background: rgba(255, 255, 255, .6);
    color: inherit;
    font-size: 0.7rem;
    width: 1000px;
  }
}

.OurMore-h2 {
  display: none;
  color: $brown;
  margin: 10px 0 0;
  @include breakpoint(medium) {
    display: block;
  }
}

.OurMore-figure {
  text-align: center;
}

.OurMore-figure img {
  max-width: 400px;
}

/* Contact */

.Contact-header, .Contact-contentForm {
  @include center(90, '%');
  @include breakpoint(large) {
  }
}

.Contact-figure {
  display: none;
  margin: 0;
  max-width: 30%;
  vertical-align: middle;
  text-align: center;
  width: 29%;
  @include breakpoint(medium) {
    display: inline-block;
  }
}

.Contact-figure img {
  max-width: 150px;
}

.Contact-hgroup {
  display: inline-block;
  font-size: 1.3rem;
  max-width: 100%;
  padding: 16px;
  text-align: justify;
  vertical-align: middle;
  @include breakpoint(medium) {
    font-size: 1rem;
    max-width: 70%;
  }
}

.Contact-h5 {
  margin: 10px 0;
}

.Contact-content {
  display: inline-block;
  width: 70%;
}

.Contact-form {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  @include breakpoint(medium) {
    width: 70%;
  }
}

.Contact-content {
  text-align: center;
  width: 29%;
}

.Contact-number-figure {
  margin: 0;
  display: none;
  @include breakpoint(medium) {
    display: block;
  }
}

.Contact-number-figure img {
  max-width: 200px;
}

.Contact-number {
  border-top: 2px solid $brown;
  border-bottom: 2px solid $brown;
  color: $brownLight;;
  display: block;
  font-size: 1.5rem;
  @include breakpoint(medium) {
    font-size: 2rem;
  }
}

.Contact input, .Contact textarea {
  border-radius: 5px;
  border: 1px solid $brown;
  display: block;
  margin: 10px auto;
  padding: 10px 5px;
  width: 90%;
}

.Send {
  background: $brown;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 10px auto;
  padding: 10px 0;
  width: 90%;
  @include breakpoint(medium) {
    display: block;
  }
  &:hover {
    background: $brownLight;
    color: $brown;
  }
}

/* Number */
.Number {
  background: $brown;
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 0;
  transform: translateY(-90px);
  width: 100%;
  z-index: 100;
  @include transition(all, .5s, ease-in-out);
  @include breakpoint(large) {
    left: 250px;
    width: calc(100% - 250px);
  }
}

.is-sticky {
  opacity: 1;
  transform: translateY(0);
}

/* MenuButton */

.MenuButton {
  background: $brownLight;
  border: 1px solid $brown;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  outline: 0;
  position: fixed;
  width: 45px;
  top: 0;
  left: 0;
  z-index: 1000;
  @include breakpoint(large) {
    display: none;
  }
  @include transition(all, .5s, ease-in-out);
}
.MenuButton-line{
  background: $brown;
  border-radius: 2px;
  display: block;
  height: 4px;
  margin: 4px auto;
  width: 80%;
}

.is-open{
  left: 0;
}
.is--close{
  left: 250px;
}